
body{
 background-color: #F7ECDE;
}

::selection {
    background:  #fec260;
  }
  

.logo{
    font-size: 50px;
    color: #352e28;
    font-weight: 500;
}


.form-control:focus{
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
}


h1{
    font-family: Pacifico; 
    position: relative; 
    width: 21%;
}

h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 3px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}

h1:hover::after {
    height: 65%;
}

 h2 {
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    position: absolute;
    left: 50%;
top: 25%;
    transform:translateX(-50%);
    color: transparent;
    background-clip: text;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}
.form-body{
    border-bottom: dotted 2px;
    border-top: 2px dotted;

}

.submit-btn{
    width: 12%;
}


@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
}